p {
    color: black;
    background-color: rgba(137, 43, 226, 0);
    width: 88px;
    height: 44px;
    text-align: center;
    font-family: 'BIZ UDMincho', serif;
    border-style: solid;
    border-radius: 50px;
    font-size:27px;
    padding-top: 27px;
    padding-bottom: 22px;
    padding-left: 3px;
    padding-right: 3px;
}
#thyroid-icon {
    font-size:22px;
    padding-top: 30px;
    padding-bottom: 20px; 
}

a {
    text-decoration: none;
}